header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      i.navbar-brand.fa.fa-apple
      a.navbar-brand(href='./') Meepshop
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='/log') Logger

      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') About

